basic-auth-to-wsse-transformation-policy/src/test/resources/soap-api/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
	version="EE-3.7.2" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
      
    <http:listener-config doc:name="HTTP Listener Configuration" host="0.0.0.0" name="HTTP_Listener_Configuration1" port="${port}"/>

	<api-platform-gw:api id="1234" apiName="soap-test" version="1" flowRef="admitPatientService" doc:name="API Autodiscovery">
       <api-platform-gw:description>This is a test API</api-platform-gw:description>
       <api-platform-gw:tag>tag1</api-platform-gw:tag>
   </api-platform-gw:api>
    <flow doc:description="AdmssionService SOAP Web service which accepts calls and processes request to perform pre-admissions activities in the hospital's systems." name="admitPatientService">
        <http:listener config-ref="HTTP_Listener_Configuration1" doc:name="AdmissionService" path="AdmissionService"/>
		<byte-array-to-string-transformer doc:name="Byte Array to String"/>
		<logger message="before #[payload]" doc:name="Logger"/>
        <custom-transformer class="org.mule.transformer.simple.ObjectToInputStream"/>
        <cxf:proxy-service doc:name="Proxy service" namespace="http://www.mule-health.com/SOA/service/admission/1.0" payload="envelope" port="AdmissionPort" service="AdmissionService" wsdlLocation="soap-api/AdmissionService.wsdl">
            <cxf:ws-security>
                <cxf:ws-config>
                    <cxf:property key="action" value="UsernameToken"/>
                    <cxf:property key="passwordCallbackClass" value="org.mule.policies.utils.PasswordCallback"/> 
                </cxf:ws-config>
            </cxf:ws-security>
    </cxf:proxy-service>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML" returnClass="java.lang.String"/> 
        <logger message="after: #[payload]" />       
    </flow>
</mule>