mel-message-modification-policy/src/test/resources/rest-api/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd" version="EE-3.7.2">

    <http:listener-config name="httpConf1" host="localhost" port="${api_port}" doc:name="HTTP Listener Configuration"/>

<!-- 	<api-platform-gw:api id="1234" apiName="sampleApi" version="1.0.0" flowRef="flow_1"> -->
<!--        <api-platform-gw:description>This is a test API</api-platform-gw:description> -->
<!--        <api-platform-gw:tag>tag1</api-platform-gw:tag> -->
<!--    </api-platform-gw:api> -->
   
    <flow name="flow_1">
        <http:listener config-ref="httpConf1" path="/api" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <custom-transformer class="com.mulesoft.gateway.extension.CopyHeadersTransformer" doc:name="Java"/>
        <logger message="API call processing...#[payload]" level="INFO" doc:name="Logger"/>
    </flow>

</mule>
